*{
    font-family: 'Poppins', sans-serif;
}

/* =================== HEADER-STYLES =================== */
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.616);
}

.navbar .nav-link {
    padding: 0 20px !important;
    color: white!important;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
}

.img-logo{
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.616));
}

.btn-acessar{
    border-radius: 3px;
}

.header-title{
    margin-top: 18%;
}

.text-header{
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.16));
    font-size: 2.6em;
}
.ativo{
    background-color: #2f00ff;
    border-radius: 4px;
    color:white !important;
}

.btn-acessar:hover{
    background-color: white !important;
}

/* =================== FIM HEADER-STYLES =================== */


/* =================== INTRO-STYLES =================== */

.intro-title{
    border-right: 5px solid #007bff;
    border-left: 5px solid #007bff;
    padding: 10px;
    margin-bottom: 35px;
    padding-left: 15px;
    box-sizing: border-box;
    text-align: center;
    box-shadow:1px 1px 9px rgba(50, 50, 50, 0.77)
}

.intro{
    min-height: 100vh;
    font-size: 1.3em;
    font-weight: 1.4;
}
.img-intro{
    max-width: 100%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.527));
}

/* =================== FIM INTRO-STYLES =================== */


/* =================== MOBILE-VERSION=================== */

@media (max-width: 576px) { 
    
    *{
        font-size: 1em;
    }

    .navbar .nav-link {
        text-align: center !important;
    }

    .intro h1 {
        text-transform: none !important;
    }

    .img-intro{
        margin-bottom: 30px;
    }

    .img-animation{
        opacity: 0;
    }
    
    .nav-pills{
        text-align: center !important;
        margin-bottom: 30px !important;
    }

    .tab-content{
        text-align: center !important;
    }

    
}

/* =================== FIM MOBILE-VERSION=================== */
